.chat-main
  .chat-main__group-info
    .left-header
      .group-title
        %h #{@group.name}
      .group-member
        Member :
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    .right-header 
      .group-edit-btn
        = link_to edit_group_path(current_user.id), class: 'edit' do
          Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .new_message
      .form
        = form_for [@group, @message] do |f|
          .form-image
            = f.text_field :content, class: 'form-image__text', placeholder: 'type a message'
            = f.label :image, class: 'form-image__label' do
              = icon('far', 'image', class: 'form-image__label--icon')
              = f.file_field :image, class: 'form-image__label--file'
          = f.submit 'Send', class: 'submit-btn'